html {
  color-scheme: light dark;
}

body {
  font-family: system-ui;
  font-size: 1.125rem;
  line-height: 1.5;
  /* color: #eee; */
}

.bg {
  background-image: url("https://img0.huoshen80.top/i/2025/03/01/67c313944f8b9.png");
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.titles {
  line-height: 0.5;
}

.main {
  width: min(65ch, 100% - 4rem);
  margin-inline: auto;
}

.f-romi {
  color: #e5a3ff
}

a {
  color: #FFAFF3;
  text-decoration: none;
}